.episodios{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 1203.5px;
    position: relative;
    margin-bottom: 10px;
    
   

    h2{
        font-family: 'IBM Plex Sans';
        font-size: 36px;
        color: $blanco;
        letter-spacing: 0;
        line-height: 42px;
        margin-left: 16px;
        margin-right: 147px; 
        font-weight: 400;
        z-index: 2;
        grid-column: 1/3;
        
    }

    iframe{
        width: 95%;
        border: none;
        border-radius: 10px;
        height: 232px;
        margin-left: 3%;
        margin-right: 3%;
        z-index: 2;
        grid-column: 1/3;

    }

}

.episodios::after{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    transform-origin: right;
    transform: skewY(-5deg);
    content: '';
}

@media only screen and (min-width: 700px){

    .episodios{
        width: 100%;
        height: 800px;
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.4fr 1fr 1fr;
        grid-template-areas: 
        "titulo titulo"
        "post1 post2"
        "post3 post4";

        .pod_1{
            grid-area: post1;

        }

        .pod_2{
            grid-area: post2;
            
        }

        .pod_3{
            grid-area: post3;
            
        }

        .pod_4{
            grid-area: post4;
            
        }

        h2{
            font-size: 48px;
            grid-area: titulo;
            margin-top: 103px;
            margin-left: 100px;
            
        }
    }


}


@media only screen and (min-width: 1000px){

    .episodios{
        width: 100%;
        height: 1043px;
        display: grid;
        grid-gap: 72px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.4fr 1fr 1fr;
        grid-template-areas: 
        "titulo titulo"
        "post1 post2"
        "post3 post4";

        .pod_1{
            grid-area: post1;

        }

        .pod_2{
            grid-area: post2;
            
        }

        .pod_3{
            grid-area: post3;
            
        }

        .pod_4{
            grid-area: post4;
            
        }

        h2{
            font-size: 48px;
            grid-area: titulo;
            margin-top: 207px;
            margin-left: 200px;
            
        }
    }


}