.historia{
    display: block;
    width: 100%;

    .estelares{
        font-family: 'IBM Plex Sans';
        font-size: 36px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 42px;
        margin-left: 16px;
        margin-right: 14px;
        font-weight: 400;
        
    }

    .mujeres{
        width: 100%;
        display: flex;
        margin:0 0;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        img{
            width: 100%;
        }
    }

}


@media only screen and (min-width: 700px){
    .historia{
        margin: 0;

        .estelares{
            
            margin-left: 100px;

        }

        .mujeres{
            margin: 0;
            flex-direction: row;
            flex-wrap: wrap;


            img{
                width: 33%;
            }

        }

    }


}

@media only screen and (min-width: 1000px){
    .historia{
        margin: 0;

        .estelares{
            font-size: 48px;
            margin-left: 200px;

        }

        .mujeres{
            margin: 0;
            flex-direction: row;
            flex-wrap: wrap;


            img{
                width: 33%;
            }

        }

    }


}

