.phone{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    
    .imaphone{
        z-index: 3;
        margin-left: -20px;
        height: 519px;        
    }

    .venimos{
        margin-left: 16px;
        margin-right: 16px;
    
        h2{
            font-family: 'IBM Plex Sans';
            font-size: 36px;
            color: #060A24;
            letter-spacing: 0;
            line-height: 42px;
            margin-bottom: 8px;
            margin-right: 16px;
            font-weight: 400;
        }

        p{
            font-family: 'IBM Plex Mono';
            font-size: 14px;
            color: #060A24;
            letter-spacing: 0;
            line-height: 22px;
            justify-content: center;
            margin-right: 0;
        }
            
    
    } 
    
}

@media only screen and (min-width: 700px){

    .phone{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-content: center;
        margin-top: -50px;

        .imaphone{
            margin-left: 20px;
            margin-right: 10px;
            height: 550px;
            margin-top: 50px;

        }

        .venimos{
            margin-left: 16px;
            margin-right: 16px;

            h2{
                height: 62px;
                margin-right: 21px;

            }

            p{
                margin-right: 10px;
                margin-left: 5px;
            }

        }
    }


}

@media only screen and (min-width: 1000px){

    .phone{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-content: center;
        margin-top: -50px;

        .imaphone{
            margin-left: 200px;
            margin-right: 62.4px;
            height: 660px;
            margin-top: 50px;

        }

        .venimos{
            

            h2{
                //height: 399px;
                //height: 62px;
                margin-right: 321px;

            }

            p{
                margin-right: 260px;
            }

        }
    }


}